<!DOCTYPE html>
<html lang="en">

<head>

    <% include ./partials/head %>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <% include ./partials/sidebar %>

        <div id="page-wrapper">
          <div class="row">
              <div class="col-lg-12">
                  <h3 class="page-header"><i class="fa fa-files-o"></i> Article</h3>
                  <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/admin">Home</a></li>
                    <li><i class="fa fa-files-o"></i>Category: <a href="/admin/articles<%= article.category %>"><%= article.category %></a></li>
                  </ol>
              </div>
              <!-- /.col-lg-12 -->
          </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-files-o fa-fw"></i> <%= article.title %>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="/admin/edit_article<%= article.id %>">Edit Article</a>
                                        </li>
                                        <li><a href="#">Archive Article</a>
                                        </li>
                                        <li><a href="#">Delete Article</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                <div class="list-group">
                                  <div class="list-group-item">
                                      <img src="<%= article.banner %>" class="" style="width: 100%; height: 400px;">
                                    <p style="margin-top: 20px;"><%= article.content %>   </p>
                                    <i class="text-muted">By Ali Shee</i>
                                    <span class="pull-right"><i class="fa fa-clock-o"></i> <%= article.createdAt %></span>
                                    <!--<div style="margin-bottom:5px;">
                                       <div class="btn-group pull-right">
                                        <button class="btn btn-info" style="padding: 5px 5px;"> <i class="fa fa-edit"></i> Edit</button>
                                        <button class="btn btn-warning" style="padding: 5px 5px;"> <i class="fa fa-trash"></i> Archive</button>
                                        <button class="btn btn-danger" style="padding: 5px 5px;"> <i class="fa fa-trash"></i> Delete</button>
                                        </div>
                                    </div>-->
                                  </div>
                                </div>
                                </div>
                                <!-- /.col-lg-12 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
 <% include ./partials/footer.ejs %>

</body>

</html>
